<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Created at</th>

  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>

      </tr>
  <% end %>
</table>

